{% load humanize %}

<aside id="sidebar" class="w-64 bg-sky-900 shadow-xl flex flex-col flex-shrink-0 rounded-lg">

    <nav class="py-6 flex-grow overflow-y-auto">
        <ul class="space-y-4">
            <li class="px-2">
                <a href="#" hx-target="#main-content" hx-get="{% url 'dashboard' %}" 
                   class="flex items-center p-2 text-lg font-medium text-white hover:bg-indigo-600 rounded-lg transition duration-200">
                   <i class="bi bi-house-door mr-3 text-xl"></i><span>Dashibodi</span>
                </a>
            </li>

            <li class="px-2">
                <a href="#" hx-target="#main-content" hx-get="{% url 'product_create' %}" 
                   class="flex items-center p-2 text-lg font-medium text-white hover:bg-indigo-600 rounded-lg transition duration-200">
                   <i class="bi bi-box mr-3 text-xl"></i><span>Sajili Bidhaa</span>
                </a>
            </li>

            <li class="px-2">
                <a href="#" hx-target="#main-content" hx-get="{% url 'list_of_products' %}" 
                   class="flex items-center p-2 text-lg font-medium text-white hover:bg-indigo-600 rounded-lg transition duration-200">
                   <i class="bi bi-boxes mr-3 text-xl"></i><span>Orodha ya Bidhaa</span>
                </a>
            </li>

            <li class="px-2">
                <a href="#" hx-target="#main-content" hx-get="{% url 'create_sale' %}" 
                   class="flex items-center p-2 text-lg font-medium text-white hover:bg-indigo-600 rounded-lg transition duration-200">
                   <i class="bi bi-cart-plus mr-3 text-xl"></i><span>Uza Bidhaa</span>
                </a>
            </li>

            <li class="px-2">
                <a href="#" hx-target="#main-content" hx-get="{% url 'list_sales' %}" 
                   class="flex items-center p-2 text-lg font-medium text-white hover:bg-indigo-600 rounded-lg transition duration-200">
                   <i class="bi bi-clipboard-data mr-3 text-xl"></i><span>Mauzo</span>
                </a>
            </li>

            <li class="px-2">
                <a href="#" hx-target="#main-content" hx-get="{% url 'list_unverified_sales' %}" 
                   class="flex items-center p-2 text-lg font-medium text-white hover:bg-indigo-600 rounded-lg transition duration-200">
                   <i class="bi bi-check mr-3 text-xl"></i><span>Idhinisha Mauzo</span>
                </a>
            </li>

            <li class="px-2">
                <a href="#" hx-target="#main-content" hx-get="{% url 'customer_list' %}" 
                   class="flex items-center p-2 text-lg font-medium text-white hover:bg-indigo-600 rounded-lg transition duration-200">
                   <i class="bi bi-person-lines-fill mr-3 text-xl"></i><span>Wateja Waliosajiliwa</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <div class="mt-auto p-4 flex-shrink-0">
        <div class="bg-blue-100 text-black font-extrabold text-lg p-3 rounded-lg flex justify-between items-center">
            <b>{{user.username|capfirst }}</b>
            {% if not user.is_admin %}
                <span class="text-sm font-semibold">Admin</span>
            {% else %}
                <span class="text-sm font-semibold">User</span>
            {% endif %}
        </div>
    </div>
</aside>    